
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

venv/
.venv/
env/

*.tif
*.TIF
*.tiff
*.TIFF
data/*.tif
data/*.TIF

.DS_Store
Thumbs.db

*.db
*.sqlite3
backend/uhi_data.db
static/*.png
backend/static/*.png

.vscode/